html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 30px;
}

.high {
  text-align: center;
  font-size: 100rem;
  line-height: 1;
  margin-bottom: 30px;
}

h2 {
  text-align: left;
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 10px;
}


button {
  background: rgba(255, 255, 255, 0.2);
  font-size: 3rem;
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  align-content: center;
  font-family: 'Amatic SC', serif;
  font-style: inherit;
  margin-left: 90rem;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.highOne {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  font-size: 5rem;
}


p {
  text-align: center;
  font-size: 3rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30rem;
  cursor: url(mallet.cur), auto;
}

.mallet {
  cursor: url(mallet.cur), auto;
  transform: rotate(90deg);
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('dirt.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('goose.png') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

/* Start of Leaderboard */
form {
  margin-left: 5rem;
}

#item {
  background: rgba(255, 255, 255, 0.2);
  font-size: 3rem;
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  align-content: center;
  font-family: 'Amatic SC', serif;
  font-style: inherit;
}

::placeholder {
  color: black;
}

.saveButton {
  background: rgba(255, 255, 255, 0.2);
  font-size: 3rem;
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  align-content: center;
  font-family: 'Amatic SC', serif;
  font-style: inherit;
  margin-left: 5rem;
  margin-top: 1rem;
}

li {
  font-size: 3rem;
  text-align: left;
}
